@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center align-middle">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to MitarbeiterShop</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 mt-5 d-sm-flex justify-content-sm-center">
            <a asp-action="Index" asp-controller="Category" hydro-link class="btn btn-lg btn-dark fw-bold border-black bg-black">Go to order</a>
        </div>
    </div>
</div>